<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>


{% for question in questions %}
    <h5>{{ question.title }}</h5>
    <h3>{{ question.text }}</h3>
    <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{#<nav>#}
{#    <ul class="pagination">#}
{#        {% for p in paginator.page_range %}#}
{#            {% if p == question.number %}#}
{#                <li class="active">#}
{#                    {% else %}#}
{#                <li>#}
{#            {% endif %}#}
{#        <a href="?page={{ p }}">{{ p }}</a>#}
{#        </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</nav>#}


</body>
</html>


