<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p> Signup: </p>


<form method="post" action="/signup/">
    {% csrf_token %}
    <label for="username">Your name: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">Your password: </label>
    <input id="password" type="text" name="password" value="{{ password}}">
    <label for="email">Your email: </label>
    <input id="email" type="text" name="email" value="{{ email}}">
    <input type="submit" value="OK">
</form>



</body>
</html>